@using BackOfficeWeb.Extensions;
@using BackOfficeWeb.Models.MessageBus
@model ChannelViewModel
@{
    ViewData["Title"] = "Channels Management";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div> <!-- .text-center -->

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td class="text-center">#</td>
                <td class="text-center">Name</td>
                <td class="text-center">Subscribers Count</td>
                <td class="text-center">Messages Count</td>
                <td class="text-center">Action</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var (item, index) in Model.Channels.WithIndex())
            {
                <tr>
                    <td class="text-center">@(index + 1)</td>
                    <td>@item.name</td>
                    <td class="text-center">@item.subscribersCount</td>
                    <td class="text-center">@item.messagesCount</td>
                    <td class="text-center">
                        <a asp-action="Show" asp-route-id="@item.id" class="btn btn-info">Show</a>
                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-info">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> <!-- .container -->